*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    width: 30%;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
    display: grid;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}
.register input{
    padding: 5px 10px;
    border-radius: 0;
    outline: none;
    border-top: 0;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    caret-color: #000;
    letter-spacing: 2px;
}
.register .btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.register .btns button{
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: none;
    background-color: #000000d7;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}
.register .btns button:hover{
    background-color: #000;
}
.register .btns label{
    width: 45%;
    border-radius: 5px;
    padding: 10px 0;
    border: none;
    background-color: #000000d7;
    color: #fff;
    transition: .5s;
    cursor: pointer;
    text-align: center;
    font-size: small;
}
.register .btns label:hover{
    background-color: #000;
}
.login{
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    width: 30%;
}
.login input{
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 5px 10px;
    letter-spacing: 2px;
    caret-color: #000;
    outline: none;
}
.login .btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.login .btns button{
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: none;
    background-color: #000000d7;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}
.login .btns button:hover{
    background-color: #000;
}
.register_success{
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 10px #ccc;
    padding: 20px 50px;
    border-radius: 10px;
    pointer-events: none;
    opacity: 0;
    transition: .5s ease;
}