*{
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}
svg,img{
    width: 30px;
    height: 30px;
}
body{
    background: #444;
    padding: 10px;
    
}
::selection{
    background: #509435;
    color: #fff;
}
.main{
    display: flex;
    flex-direction: column;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 5px 50px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.main .nav h1{
    color: #ddd;
}
.main .nav .links{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.main .nav .links a{
    text-decoration: none;
    color: #ddd;
    transition: .3s;
    font-weight: 600;
}
.main .nav .links a:hover{
    color: #509435;
}
.main .nav .links button{
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    background: #509435;
    transition: .3s;
}
.main .nav .links button a{
    color: #fff;
}
                        
.main .nav .links button:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.main .nav .links button a:hover{
    color: #fff;
}
.main .home-main{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
}
.main .home-main h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ddd;
}
.main .home-main h1 span{
    color: #509435;
}
.main .home-main button{
    padding: 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: #fff;
    align-self: center;
    width: 20%;
    border-radius: 25px;
    background: #509435;
    transition: .4s;
}
.main .home-main button:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.main .home-main button a{
    text-decoration: none;
    color: #fff;
}
.main form{
    display: flex;
    width: 400px;
    flex-direction: column;
    padding: 10px;
    color: #fff;
    row-gap: 8px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}
.main form h1{
    text-align: center;
    color: #509435;
}
.main form input{
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    caret-color: #509435;
    outline: none;
    border-bottom: 2px solid #509435;
}

.main form button{
    padding: 5px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    background: #509435;
}
.main form .confirm-frm{
    display: flex;
    justify-content: space-between;
}
.main form .confirm-frm p a{
    color: #509435;
    margin-left: 7rem;
}

.dash{
    display: flex;
    width: 100%;
}
.dash .sidebar{
    display: flex;
    width: 280px;
    height: 100vh;
    background: #509435;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    flex-direction: column;
}

.dash .sidebar h1{
    font-size: 19px;
    text-align: center;
}
.dash .sidebar .links{
    display: flex;
    row-gap: 15px;
    margin: 2rem 0;
    flex-direction: column;
}
.dash .sidebar .links a{
    background: #fff;
    color: #509435;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    transition: .4s;
}
.dash .sidebar .links a:hover{
    color: #509435;
    text-shadow: -1px 1px 0px #3e4e3c;
}
.dash .dash-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
}
.dash .dash-left .luv{
    display: flex;
    padding: 5px;
    cursor: pointer;
    align-items: center;
}
.dash .dash-left .luv p span{
    color: #9dcf4d; 
}
.dash .dash-left .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    height: fit-content;
    box-shadow: 0px 5px 50px rgba(255, 255, 255, 0.1);
}
.dash .nav h1{
    color: #509435;
    font-size: 25px;
    cursor: pointer;
}
.dash .nav h1 span{
    color: #333;
}
.dash .dash-left .status{
    display: flex;
    padding: 8px;
    margin: 5rem 0;
    column-gap: 20px;
    justify-content: center;
}
.dash .dash-left .status .card{
    padding: 10px;
    width: 200px;
    display: flex;
    cursor: pointer;
    box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.048);
    flex-direction: column;
    align-items: center;
    color: #888;
    font-weight: 600;
    border: 1px solid #888;
    border-radius: 4px;
}
.dash .dash-left .status table{
    width: 80%;
    box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.048);
    text-align: center;
    padding: 8px;
}
.dash .dash-left .status table thead{
    background: #333;
    color: #fff;
}
.dash .dash-left .status table th{
    padding: 5px;
    width: fit-content;
    color: #79c943;
}
.dash .dash-left .status table tbody tr td a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 4px 0;
}
.dash .dash-left .status table tbody tr:nth-child(even){
    background: #509435;
    padding: 3px;
    border-radius: 4px;
}