* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  width: 100%;
}

.main {
  width: 100%;
}
.main .top {
  width: 100%;
  background: beige;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 5px #ccc;
}
.main .top .navbar-content {
  width: 40%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.main .top .navbar-content .furniture {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.main .top .navbar-content .furniture .dropdown {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 19px;
  text-transform: capitalize;
}
.main .top .navbar-content .furniture .furniture-content {
  position: absolute;
  background-color: beige;
  width: 100%;
  top: 70px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.337254902);
}
.main .top .navbar-content .furniture .furniture-content h4 {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}
.main .top .navbar-content .furniture .furniture-content a {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 0;
  gap: 20px;
  color: #000;
  text-decoration: none;
  transition: 0.5s;
  text-transform: capitalize;
}
.main .top .navbar-content .furniture .furniture-content a:hover {
  background: #fff;
}
.main .top .navbar-content .furniture:hover .furniture-content {
  top: 60px;
  visibility: visible;
  opacity: 1;
}
.main .top .navbar-content .account {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.main .top .navbar-content .account .dropdown {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
.main .top .navbar-content .account-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: beige;
  gap: 10px;
  top: 70px;
  left: 0px;
  width: 100%;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.337254902);
  transition: 0.5s;
}
.main .top .navbar-content .account-content .login {
  text-decoration: none;
  background-color: orange;
  padding: 10px;
  width: 90%;
  text-align: center;
  color: #000;
  border-radius: 30px;
  transition: 0.5s;
}
.main .top .navbar-content .account-content .login:hover {
  filter: hue-rotate(120deg);
}
.main .top .navbar-content .account-content .register {
  width: 100%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: #000;
}
.main .top .navbar-content .account-content .register:hover {
  background: #fff;
}
.main .top .navbar-content .account:hover .account-content {
  opacity: 1;
  visibility: visible;
  top: 60px;
}
.main .top .navbar-content .search {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .top .navbar-content .search a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: 19px;
}
.main .top .logo {
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .top .delivery {
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .top .delivery a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  transition: 0.5s;
}
.main .top .delivery .cart:hover {
  color: orange;
}
.main .top .delivery .deliver {
  border: 2px solid orange;
  padding: 5px 10px;
  border-radius: 40px;
  transition: 0.5s;
}
.main .top .delivery .deliver:hover {
  background-color: orange;
}
.main .body {
  width: 100%;
  height: 90%;
}
.main .body .top {
  width: 100%;
  height: 100%;
  background-color: rgba(220, 226, 245, 0.231372549);
}
.main .body .top .text {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 0 30px;
}
.main .body .top .text h2 {
  font-size: 32px;
}
.main .body .top .text p {
  color: #5e5e5e;
}
.main .body .top .picture {
  width: 50%;
  height: 100%;
}
.main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .shop-room {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.main .shop-room img {
  width: 100px;
}
.main .shop-room button {
  background-color: orangered;
  border: none;
  padding: 10px 15px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}
.main .shop-room button .active {
  opacity: 1;
}
.main .shop-room .rooms {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.main .shop-room .rooms .holder {
  background-color: grey;
  height: 300px;
  border-radius: 10px;
  width: 20%;
}
.main .shop-room .rooms .holder .img-holder {
  border: 2px solid red;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  position: relative;
  right: 10px;
  bottom: 10px;
  background: #fff;
  cursor: pointer;
}
.main .shop-room .rooms .holder .img-holder .img {
  width: 100%;
  height: 230px;
}
.main .shop-room .rooms .holder .img-holder .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .shop-room .rooms .holder .img-holder .title-text {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.main .shop-room .rooms #bedroom {
  background-color: rgb(212, 212, 3);
}
.main .shop-room .rooms #bedroom .img-holder {
  border: 2px solid dodgerblue;
}
.main .shop-room .rooms #home-office {
  background-color: cadetblue;
}
.main .shop-room .rooms #home-office .img-holder {
  border: 2px solid #000;
}
.main .shop-room .rooms #dining-room {
  background-color: tomato;
}
.main .shop-room .rooms #dining-room .img-holder {
  border: 2px solid tomato;
}/*# sourceMappingURL=index.css.map */