*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.main {
    display: flex;
}
.main .nav{
    display: flex;
    width: 25%;
    height: 100vh;
    padding: 15px;
    background: #333;
    color: #fff;
}
.main .nav .left{
    display: flex;
    flex-direction: column;
}
.main .nav .left a{
    margin: 20px 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;   
    width: 250px;
    padding: 8px;
    border: none;
    background: #fff;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
}
.main .center{
    width: 75%;
}
.main .links .logo{
    width: 100%;
    box-shadow: 0px 0px 10px -5px #333;
    justify-content: center;
    display: flex;
    padding: 20px;
    align-items: center;
}
.main .center .links a{
    text-decoration: none;
    padding: 5px;
    color: #000;
}
.main .center .links button{
    width: 80px;
    padding: 8px;
    border: none;
    background: #555;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 0 50vh;
    font-weight: bold;
}
.h1 h1{
    display: flex;
    font-size: 21px;
    padding: 25px;
}
h1 img{
    width: 50px;
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.logo h1{
    margin-bottom: 30px;
}
.h1 span{
    font-size: 35px;
    font-weight: bold;
    position: relative;
    left: 200px;
    top: 20px;
}