*{
    font-family: Poppins;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

$main-color: #f5be9e;
html{
    ::selection{
        color: $main-color;
        background: #fff;
    }
}
.main{
    display: flex;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.671), rgba(17, 17, 17, 0.466)), url(../images/dating_3.jpg) no-repeat;
    background-size: cover;
    flex-direction: column;

    .nav{
        display: flex;
        width: 100%;
        height: fit-content;
        padding: 8px;
        align-items: center;
        justify-content: space-around;
        
        h1{
            color: $main-color;
        }

        .links{
            display: flex;
            column-gap: 30px;

            .dropdown{
                display: flex;
                position: relative;
                flex-direction: column;

                .drop-content{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    border-radius: 4px;
                    background: $main-color;
                    padding: 8px;
                    margin: 25px 0;
                    gap: 8px;
                    transition: .4s;
                    display: none;

                    a{
                        background: #fff;
                        color: $main-color;
                        padding: 2px 8px;
                        border-radius: 4px;
                        transition: 1s;
                        border: 1px solid #fff;
                        
                        &:hover{
                            background: $main-color;
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }
                }
            }
            .dropdown:hover .drop-content{
                display: ruby;
            }
            a{
                text-decoration: none;
                color: #fff;
                transition: .4s;

                &:hover{
                    color: $main-color;
                }
            }
        }
    }
    .center{
        display: flex;
        padding: 20px;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        align-items: center;

        h1{
            color: $main-color;
            text-align: center;
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            font-size: 2.5rem;
        }
        button{
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            background: $main-color;
            color: #fff;
            border-radius: 25px;
            width: fit-content;

            a{
                text-decoration: none;
                color: #fff;
                text-shadow: 1px 1px 2px #000;
            }
        }

        h3{
            color: $main-color;
            align-self: flex-end;
            font-size: 4rem;
        }
    }
}

form{
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 20px rgba(245, 136, 136, 0.3);
    padding: 15px;
    row-gap: 4px;
    border-radius: 5px;
    color: #222;
}
form input{
    padding: 7px;
    border-radius: 4px;
    border: 2px solid $main-color;
    outline: none;
    caret-color: $main-color;
}
form button{
    padding: 6px;
    border: none;
    cursor: pointer;
    background: $main-color;
    font-size: 16px;
    width: 100%;
    color: #fff;
    margin: 20px 0;
    border-radius: 5px;
}
form p a{
    color: $main-color;
}
.dash{
    display: flex;
    width: 100%;

    .sidebar{
        width: 300px;
        padding: 10px;
        background: #222;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1{
            color: $main-color;
        }

        .links{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            margin-bottom: 50vh;

            a{
                text-decoration: none;
                color: #fff;
                cursor: pointer;
                background: $main-color;
                padding: 4px 8px;
                text-align: center;
                border-radius: 4px;
                font-weight: 600;
                transition: .6s;

                &:hover{
                    color: #222;
                }
            }
        }
        .log{
            display: flex;
            a{
                background: $main-color;
                text-decoration: none;
                color: #fff;
                padding: 5px 20px;
                border-radius: 4px;
            }
        }
    }

    .left-dash{
        width: 100%;
        display: flex;
        flex-direction: column;

        .nav{
            display: flex;
            align-items: center;
            padding: 8px;
            justify-content: space-between;
            box-shadow: 0px 0px 10px #ccc;

            .dating{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 15%;

                p{
                    color: $main-color;
                    text-align: center;
                    width: 70%;
                }
                svg{
                    background: #fff;
                    width: 30%;
                }
            }
        }
    }
    .users{
        width: 81.5%;
        position: absolute;
        top: 70px;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0;
        .total{
            box-shadow: 0px 0px 10px #ccc;
            border-radius: 5px;
            width: 20%;
            padding: 30px 20px;
            text-align: center;
            font-size: 24px;
        }
        .time{
            width: 30%;
            box-shadow: 0px 0px 10px #ccc;
            border-radius: 5px;
            padding: 30px 10px;
            .real_time{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 24px;
            }
            .label{
                text-align: center;
                font-size: 24px;
            }
        }
    }
}