*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
}
.home{
    width: 100%;
    height: 100%;
}
.home .nav{
    width: 100%;
    height: 10vh;
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px -5px #333;
}
.home h1{
    position: relative;
    right: 350px;
}
.home a{
    text-decoration: none;
    color: #000;
    padding: 10px;
}
.home button{
    padding: 8px 15px;
    border: none;
    background: #555;
    position: relative;
    left: 350px;
    margin-right: 20px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}
.left{
    width: 25%;
    height: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 40px;
    row-gap: 50px;
    margin: 50px 5px;
    box-shadow: 0px 0px 10px -2px;
    border-radius: 4px;
    float: left;
    background: #333;
}
.left a{
    text-decoration: none;
    font-weight: bold;   
    width: 250px;
    padding: 8px;
    border-bottom: 2px solid #5c2aac;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.center{
    padding: 5px 0;
    box-shadow: 0px 0px 10px -12px;
    border-radius: 10px;
    width: 55%;
    margin: 70px 0;
    text-align: center;
    align-items: center;
    position: relative;
}
.center p{
    margin: 30px 0;
    position: relative;
    left: 150px;
}
.center p span{
    color: #5c2aac;
    font-weight: bold;
}
.right{
    width: 25%;
    padding: 15px;
    position: relative;
    float: right;
    right: 6px;
    height: 40%;
    background: #333;
    overflow: hidden;
    bottom: 370px;
    height: 50%;
    box-shadow: 0px 0px 10px -2px;
    border-radius: 4px;
}
.right h1{
    color: #fff;
    position: relative;
    left: 40px;
    top: 130px;
}
.right p{
    font-size: 13px;
    text-align: center;
    padding: 0 30px;
    transform: rotateZ(30deg);
    position: relative;
    right: -50px;
    box-shadow: 0px 0px 10px -1px #333 inset;
    bottom: 115px;
    font-weight: bold;
    background: #fff;
    color: #5c2aac;
}
.right img{
    width: 100px;
    height: 100px;
    top: 80px;
    transform: rotateZ(1deg);
    animation: roll 1s infinite linear;
}
@keyframes roll{
    0%{
        left: 0;
        transform: rotateZ(1deg);
    }
    50%{
        left: 140px;
        transform: rotateZ(50deg);
    }
    100%{
        left: 0;
        transform: rotateZ(1deg);
    }
}
img{
    width: 50px;
    position: relative;
    top: 0px;
    right: 350px;
    margin-left: 10px;
    margin-right: 10px;
}